@media (max-width: 768px) {
  body {
  }
  .options_form_wrapper,
  .question_form {
    width: 70%;
  }
}

@media (max-width: 426px) {
  body {
  }

  .error {
    top: -18px;
    right: 0;
  }

  .app_wrapper,
  .input_btn_wrapper {
    flex-direction: column;
  }

  .app_wrapper {
    padding: 40px 10px;
  }
  .options_form_wrapper,
  .question_form,
  .lookup_wrapper,
  .lf-player-container {
    width: 100%;
  }
  .options_form_wrapper a {
    text-align: center;
  }

  .total_votes {
    font-size: 12px;
  }
}
