.options_form_wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
}

.options_form {
  gap: 20px;
}

.icons_wrapper,
.question_icons_wrapper {
  display: flex;
  gap: 5px;
  align-items: center;
}

.question_icons_wrapper {
  padding: 5px;
  justify-content: space-between;
  background: var(--main-bg-gradient);
  border-radius: 4px;
}

.question_icons_wrapper:hover .delete_edit_icons,
.options_list li:hover .delete_edit_icons {
  opacity: 0.3;
}

.delete_edit_icons {
  font-size: clamp(13px, 0.75em, 15px);
  color: var(--border-color);
  opacity: 0;
  transition: all 140ms ease-in-out;
}

.question_icons_wrapper .delete_edit_icons:hover,
.options_list li:hover .delete_edit_icons:hover {
  scale: 1.2;
  cursor: pointer;
  opacity: 1;
}

.options_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.options_list li::before {
  content: "•";
  position: absolute;
  left: 5px;
  top: -10px;
  font-size: 35px;
}

.options_list li {
  position: relative;
  font-size: 17px;
  padding: 5px 5px 5px 25px;
  border-radius: 4px;
  background: var(--main-bg-gradient);
}

.options_list li span {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
}

.option_text {
  color: var(--pure-black);
  animation: showUp 1s ease-in;
}

.lets_vote_btn {
  font-size: 17px;
  background: var(--accent-gradient);
  color: var(--pure-white);
  text-shadow: var(--main-text-shadow);
  border: 1px solid var(--light-border-color);
  text-transform: uppercase;
}
.lets_vote_btn:disabled {
  color: var(--border-color);
  text-shadow: none;
  background: var(--main-bg-gradient);
  opacity: 0.5;
  text-transform: none;
}
.lets_vote_btn:hover {
  opacity: 0.9;
}

@keyframes showUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
