:root {
  --warning-red: #ff0000;
  --pure-black: #000;
  --pure-white: #fff;
  --border-color: #6f6c7a;
  --light-border-color: #b2b3b2;
  --bg-color: #f3fdf6;
  --border-radius: 4px;
  --btn-bg-gradient: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
  --main-bg-gradient: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(250, 250, 250) 0%,
    rgb(225, 234, 238) 90%
  );
  --accent-gradient: linear-gradient(
    180deg,
    rgba(255, 241, 171, 1) 0%,
    rgba(131, 193, 125, 1) 100%
  );
  --main-text-shadow: 1px 1px #6f6c7a, 0px 0px #6f6c7a, 1px 2px #6f6c7a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  background: var(--main-bg-gradient);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-size: 2vw;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 80px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

h2 {
  font-size: 1.7em;
  line-height: 1.3;
}

.error {
  position: absolute;
  font-size: 12px;
  bottom: -24px;
  color: var(--warning-red);
}

form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 100%;
}

input {
  padding: 10px;
  font-size: 17px;
  width: 100%;
  min-width: 200px;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
}

input:-webkit-autofill {
  box-shadow: 0 0 0 30px var(--bg-color) inset; /* change to desired background color */
  -webkit-text-fill-color: black !important; /* change to desired text color */
}

button {
  padding: 10px 15px;
  min-width: 100px;
  font-family: inherit;
  width: fit-content;
  cursor: pointer;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  transition: all 150ms ease-in-out;
}

button:active {
  scale: 0.9;
}

.save_button {
  font-size: 14px;
  background: var(--main-bg-gradient);
}

.input_btn_wrapper {
  position: relative;
  display: flex;
  gap: 5px;
}
.app_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}

.lf-player-container {
  width: 50%;
}

.player_pencil {
  width: 100%;
}

/*  */
/* question form  */

.question_form {
  width: 50%;
}

.question_form .input_label_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input_label_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/*  */
/* options form  */

.options_form_wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
}

.options_form {
  gap: 20px;
}

.question_delete_btn_wrapper {
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete_btn {
  padding: 5px;
  width: fit-content;
  min-width: 20px;
  border: none;
  background: transparent;
}

.delete_btn:hover {
  scale: 1.5;
}

.options_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.options_list li::marker {
  content: "";
}

.options_list li::before {
  content: "•";
  position: absolute;
  left: 5px;
  top: -6px;
  font-size: 35px;
}

.options_list li {
  position: relative;
  font-size: 20px;
  padding: 5px 5px 5px 25px;
  border-radius: 4px;
  background: var(--main-bg-gradient);
}

.options_list li span {
  display: flex;
  justify-content: space-between;
}

.option_text {
  color: var(--pure-black);
}

.lets_vote_btn {
  font-size: 17px;
  background: var(--accent-gradient);
  color: var(--pure-white);
  text-shadow: var(--main-text-shadow);
  border: 1px solid var(--light-border-color);
  text-transform: uppercase;
}
.lets_vote_btn:disabled {
  color: var(--border-color);
  text-shadow: none;
  background: var(--main-bg-gradient);
  opacity: 0.5;
  text-transform: none;
}
.lets_vote_btn:hover {
  opacity: 0.9;
}
/*  */
/* vote section  */

.vote_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
  min-height: 100vh;
}

.results_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 2px solid var(--border-color);
  height: 550px;
}

.results_block h2 {
  text-align: center;
}

.results {
  display: flex;
  justify-content: space-evenly;
  align-items: end;
}

.result {
  position: relative;
  text-align: center;
  height: 5px;
  width: 30%;
  background: var(--warning-red);
}

.percentage {
  position: absolute;
  top: -20px;
  translate: -50% -50%;
  font-size: 1.4em;
  font-weight: 700;
}

.to_vote_list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
}
.option_to_vote_item {
  text-align: center;
}

.option_btn {
  width: 90%;
  color: var(--pure-white);
  text-shadow: var(--main-text-shadow);
  font-weight: 700;
  font-size: 1.4em;
  border: none;
  border-radius: 15px;
  transition: all 140ms ease-in-out;
  opacity: 0.8;
}
.option_btn:hover,
.option_btn:focus {
  box-shadow: 0px 3px 9px -4px var(--border-color);
  scale: 1.1;
  cursor: pointer;
  opacity: 1;
}
.option_btn:active {
  scale: 1;
}

.total_votes {
  font-size: 15px;
  position: absolute;
  top: 5px;
  opacity: 0.3;
}

/*  */
/* media query */
@media (max-width: 768px) {
  body {
    padding: 0 40px;
  }
  .options_form_wrapper,
  .question_form {
    width: 70%;
  }
  .results_block {
    height: 450px;
  }
}

@media (max-width: 426px) {
  body {
    padding: 0 12px;
  }

  .error {
    top: -18px;
    right: 0;
  }

  .app_wrapper,
  .input_btn_wrapper {
    flex-direction: column;
  }

  .app_wrapper {
    padding: 40px 0 0;
  }
  .options_form_wrapper,
  .question_form,
  .lf-player-container {
    width: 100%;
  }
  .options_form_wrapper a {
    text-align: center;
  }

  .results_block {
    height: 430px;
  }

  .total_votes {
    font-size: 12px;
  }
}
