/*  */
/* shared css ctyles */

:root {
  --warning-red: #ff0000;
  --pure-black: #000;
  --pure-white: #fff;
  --border-color: #6f6c7a;
  --light-border-color: #b2b3b2;
  --bg-color: #f3fdf6;
  --border-radius: 4px;
  --btn-bg-gradient: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
  --main-bg-gradient: radial-gradient(
    circle at 80.7% 82.8%,
    #fafafa 0%,
    #e1eaee 90%
  );
  --accent-gradient: linear-gradient(180deg, #fff1ab 0%, #83c17d 100%);
  --main-text-shadow: 1px 1px #6f6c7a, 0px 0px #6f6c7a, 1px 2px #6f6c7a;
  --main-accent-color: #83c17d;
  --light-accent-color: #bfe5bc;
  --poll-hover-bg-color: #e1eaee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  background: var(--main-bg-gradient);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  scroll-behavior: smooth;
}

body {
  font-size: 2vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

h2 {
  font-size: clamp(17px, 1.7em, 35px);
  line-height: 1.1;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 100%;
}

input {
  padding: 10px;
  font-size: 17px;
  width: 100%;
  min-width: 200px;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
}
input:-webkit-autofill {
  box-shadow: 0 0 0 30px var(--bg-color) inset; /* change to desired background color */
  -webkit-text-fill-color: var(
    --pure-black
  ) !important; /* change to desired text color */
}

button {
  padding: 10px 15px;
  min-width: 100px;
  font-family: inherit;
  width: fit-content;
  cursor: pointer;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  transition: all 150ms ease-in-out;
}
button:active {
  scale: 0.9;
}

a {
  color: var(--pure-black);
}

.error {
  position: absolute;
  font-size: 12px;
  bottom: -19px;
  color: var(--warning-red);
}

.highlighted {
  background: var(--light-accent-color);
}

.save_button {
  font-size: 14px;
  background: var(--main-bg-gradient);
}

.input_btn_wrapper {
  position: relative;
  display: flex;
  gap: 5px;
}

.app_wrapper {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 70px 20px;
}

.app_wrapper.home {
  display: block;
  padding: 70px 0px;
}

.app_wrapper > .question_form {
  align-self: center;
  padding: 20px 5px;
  box-shadow: 10px 0px 10px -5px var(--light-border-color),
    -10px 0px 10px -5px var(--light-border-color);
  border-radius: 5px;
}

.lf-player-container,
.question_form,
.options_form_wrapper,
.lookup_wrapper {
  width: 50%;
  height: 80%;
}

.player_pencil {
  width: 100%;
  height: 450px;
}

.input_label_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.input_label_wrapper label {
  font-size: 12px;
}

ol {
  padding: 20px 0;
}

ol li:nth-child(odd) {
  background: var(--main-bg-gradient);
}

ol > li {
  font-size: 17px;
  padding: 10px 5px;
  border-radius: 5px;
  transition: all ease-in 150ms;
}

ol > li:hover {
  cursor: pointer;
  background: var(--poll-hover-bg-color);
}
