:root {
  --warning-red: #ff0000;
  --pure-black: #000;
  --pure-white: #fff;
  --border-color: #6f6c7a;
  --bg-color: #f0f8ff;
  --border-radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 80px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root {
  width: 1200px;
  margin: 0 auto;
}

.error {
  color: var(--warning-red);
}

form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 50%;
}

input {
  padding: 10px;
  width: 50%;
  min-width: 200px;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
}

button {
  padding: 10px 15px;
  width: fit-content;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  min-width: 100px;
  transition: all 150ms ease-in-out;
}

/*  */
/* question form  */

.question_form {
  gap: 80px;
}

.question_form .input_label_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input_label_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/*  */
/* options form  */

.options_form_wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.options_form {
  gap: 20px;
}

.input_btn_wrapper {
  display: flex;
  gap: 5px;
}

.options_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: circle;
  padding: 20px;
}

.options_list li {
  font-size: 20px;
}

.option_text {
  color: var(--pure-black);
}

.lets_vote_btn {
  font-size: 17px;
}

/*  */
/* vote section  */

.vote_section {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.results_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-color);
  border-bottom: 2px solid var(--pure-black);
  height: 250px;
}

.results_block h2 {
  text-align: center;
}

.results {
  display: flex;
  justify-content: space-evenly;
  align-items: end;
}

.result {
  text-align: center;
  height: 5px;
  width: 30%;
  background: var(--warning-red);
}

.to_vote_list {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  list-style: none;
}

.option_to_vote_item {
  text-align: center;
}

.option_btn {
  padding: 30px 35px;
  color: var(--pure-white);
  font-weight: 700;
  font-size: xx-large;
  border: none;
  border-radius: 50%;
  transition: all 140ms ease-in-out;
}

.option_btn:hover,
.option_btn:focus {
  box-shadow: 0px 3px 9px -4px var(--border-color);
  scale: 1.1;
  cursor: pointer;
}

.option_btn:active {
  scale: 1;
}

.option_to_vote_text {
  font-size: 20px;
}
